body {
   font-family: 'Open Sans', sans-serif;
   font-family: 'Baloo Tamma', cursive;
}

#fullScreen {
    background-color: gray;
    height: 300px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
}

#header {
    height: 60px;
}

#toolbar {
    background-color: #F5F5F5;
    height: 15px;
}